.pbc-editor-b8-bg {
    background: rgba(138, 200, 88, 0.5);
}

.pbc-editor-b8-btn {
    color: rgba(138, 200, 88, 0.5);
}

.pbc-editor-b64-bg {
    background: rgba(25, 200, 195, 0.5);
}

.pbc-editor-b64-btn {
    color: rgba(25, 200, 195, 0.5);
}